@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Sacramento&display=swap');

.top-div{
    background: #9ED5C5;
    position: relative;
    padding-top: 5%;
}

body{
    margin: 0px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 0.5rem;
    width: 5%;
    color: gray;
}

#footer {
    display: block;
    margin: 0;
    padding: 2rem;
    font-size: 1rem;
    color: #eaf6f6;
}

h1{
    margin: 0;
    color: #66BFBF;
    padding-top: 2rem;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
}

h3{
    color: #11999E;
}
.bottom-container{
    background-color: #66BFBF ;
    padding: 2rem;
}

.footer-link{
    color: #11999E;
    padding: 2rem;
}
.skill-row{
    margin: 100px 0 100px 0;
    display: inline-block;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.cpp-img{
    width: 25%;
    height: auto;
    float: left;
    margin-right: 30px ;
}
.profile-img{
    height: 250px;
    width: auto;
    border-radius: 100%;
    margin-top: 1rem;
}

.html-img{
    width: 25%;
    height:  auto;
    float: right;
    margin-left: 30px ;
}
.top-cloud{
    position: absolute;
    right: 25%;
    top: 3%;
}

.contact-me{
    padding: 3rem;
}

.bottom-cloud{
    position: absolute;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }